
# BrieFlow configuration file

# Defining samples:
#   Samples must be defined in the following TSV files with columns:
#     sbs_samples.tsv: sample_fp, well, tile, cycle
#     phenotype_samples.tsv: sample_fp, well, tile

# Paths:
#   Paths are resolved relative to the directory the workflow is run from

# Parameters:
aggregate_process:
  cat_columns:
  - gene_symbol_0
  - sgRNA_0
  control_prefix: nontargeting
  feature_start: nucleus_dapi_mean
  filter_single_gene: false
  group_columns:
  - well
  index_columns:
  - tile
  - cell_0
  population_feature: gene_symbol_0
  threshold_conditions:
    nucleus_dapi_median:
    - 7
    - greater
  transformations_fp: config/transformations.tsv
all:
  root_fp: analysis_root/
cluster_process:
  correlation_threshold: 0.99
  leiden_resolution: 5.0
  min_cell_cutoffs:
    all: 3
    interphase: 3
    mitotic: 0
  min_unique_values: 5
  uniprot_data_fp: config/uniprot_data.tsv
  variance_threshold: 0.001
merge_process:
  det_range:
  - 0.06
  - 0.065
  initial_sites:
  - - 5
    - 0
  - - 141
    - 32
  - - 370
    - 86
  - - 896
    - 212
  - - 1163
    - 270
  - - 1599
    - 376
  sbs_metdata_cycle: 1
  score: 0.1
  threshold: 2
phenotype_process:
  cell_diameter: 54.126926685667364
  cellprob_threshold: 0
  channel_names:
  - dapi
  - coxiv
  - cenpa
  - wga
  cyto_index: 1
  cyto_model: cyto3
  dapi_index: 0
  flow_threshold: 0.4
  foci_channel: 2
  gpu: false
  mode: null
  nuclei_diameter: 40.96498163017951
preprocess:
  phenotype_channel_order: null
  phenotype_channel_order_flip: true
  phenotype_round_order: null
  phenotype_samples_fp: config/phenotype_samples.tsv
  sbs_channel_order: null
  sbs_channel_order_flip: true
  sbs_samples_fp: config/sbs_samples.tsv
sbs_process:
  bases:
  - G
  - T
  - A
  - C
  cell_diameter: 19.86716534556202
  cellprob_threshold: 0
  cyto_index: 4
  cyto_model: cyto3
  dapi_index: 0
  df_design_path: config/pool10_design.tsv
  flow_threshold: 0.4
  gpu: false
  mode: null
  nuclei_diameter: 9.0270333367641
  q_min: 0
  segmentation_cycle_index: -1
  threshold_peaks: 400
