# files related to local development/usage
.DS_Store
*/.ipynb_checkpoints
*/.snakemake
__pycache__/
*.egg-info/
.ruff_cache/

# files for example analysis that are too large to store with git
example_analysis/data/
example_analysis/analysis_root/
example_analysis/analysis_root_test/
example_analysis/analysis_root_backup/

# test notebooks
test_file_differences.ipynb

# slurm outputs
example_analysis/slurm/slurm_output/
