[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "BrieFlow"
version = "0.1.0"
description = "Package for processing data from optical poooled screens."
readme = "README.md"
license = { file = "LICENSE" }
dependencies = []

[tool.setuptools]
package-dir = {"" = "workflow/lib"}
packages = ["preprocess"]
include-package-data = true

[tool.ruff]

[tool.ruff.lint]
# Configure pydocstyle settings under lint
select = ["D"]
pydocstyle = { convention = "google" }

[tool.ruff.lint.per-file-ignores]
# Ignore docstring check for script files
"workflow/scripts/*.py" = ["D100"]