[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "BrieFlow"
version = "0.1.0"
description = "Package for processing data from optical poooled screens."
readme = "README.md"
license = { file = "LICENSE" }
dependencies = []

[tool.setuptools]
package-dir = {"" = "workflow/lib"}
packages = ["preprocess"]
include-package-data = true

[tool.ruff]
# exclude files that do not follow ruff linting with snakemake.input and snakemake.output
exclude = ["workflow/scripts/"]

[tool.ruff.lint]
# Configure pydocstyle settings under lint
select = ["D"]
pydocstyle = { convention = "google" }